<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/home/style.css">
  <title>Mini-Project</title>
</head>
<body>

  <!-- Nav Bar 시작 -->
  <div id="header">
    <div class="logo">
      <a href="/">Mini-Project</a>
    </div>
    <nav>
      <div class="search">
        <input class="searchbar" type="text" placeholder="Search...">
      </div>
      <ul class="nav-items">
        <li><a href="/">HOME</a></li>
        <li><a href="#popup">POSTING</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </div>
  <!-- Nav Bar 끝 -->

  <!-- 포스팅 시작 -->
  <div id="popup" class="popup">
    <a href="#" class="close">&times;</a>
    <h2>Posting</h2>
    <p>사진 업로드</p>
    <p>뽈롱</p>
  </div>
  <a href="#" class="close-popup"></a>
  <!-- 포스팅 끝 -->

  <!-- 프로필 메뉴 시작 -->

  <!-- 프로필 메뉴 끝 -->

  <!-- 본문 시작 -->
  <main>
    <div>

      <div class="post">
        <img height="250" src="https://t1.daumcdn.net/cfile/tistory/27275544572F649917">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아
          </p>
          <a href="#">Read More</a>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

      <div class="post">
        <img height="250" src="https://dimg.donga.com/wps/NEWS/IMAGE/2020/07/18/102027105.1.jpg">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 여행 좋아 
          </p>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

      <div class="post">
        <img height="250" src="https://www.kagoshima-kankou.com/storage/tourism_themes/12/responsive_images/ElwnvZ2u5uZda7Pjcwlk4mMtr08kLNydT8zXA6Ie__1673_1115.jpeg">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아
          </p>
          <a href="#">Read More</a>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

      <div class="post">
        <img height="250" src="https://flexible.img.hani.co.kr/flexible/normal/700/466/imgdb/original/2021/0603/20210603504045.jpg">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아
          </p>
          <a href="#">Read More</a>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

      <div class="post">
        <img height="250" src="https://flexible.img.hani.co.kr/flexible/normal/700/466/imgdb/original/2021/0603/20210603504045.jpg">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아
          </p>
          <a href="#">Read More</a>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

      <div class="post">
        <img height="250" src="https://flexible.img.hani.co.kr/flexible/normal/700/466/imgdb/original/2021/0603/20210603504045.jpg">
        <div class="post-desc">
          <h3>Title</h3>
          <hr>
          <br>
          <p>
            여행 좋아
          </p>
          <a href="#">Read More</a>
        </div>
        <div class="heart">
          <span>♥︎ Like</span>
          <span>Comment</span>
          <span>Share</span>
        </div>
      </div>

    </div>
  </main>
  <!-- 본문 끝 -->


</body>
</html>